@import "src/assets/styles/text";
@import "src/assets/styles/colors";

.text-input-wrapper {
  padding: 8px 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  height: 40px;

  img {
    height: 24px;
    width: 24px;
  }

  &__input {
    color: $gray-100;
    @include text-regular;
    padding-left: 8px;

    &:focus {
      padding-left: 0;
    }

    &:focus::placeholder {
      opacity: 0;
    }

    &:focus + img {
      display: none;
    }

    &::placeholder {
      color: $gray-80;
      @include title-h2-medium;
    }
  }
}