@import "src/assets/styles/text";
@import "src/assets/styles/colors";

.text-input-wrapper {
  padding: 8px 16px;
  height: 40px;
  display: flex;
  flex-direction: column;

  &__placeholder {
    color: $gray-80;
    @include title-h2-medium;
    display: inline-flex;
    align-items: center;

    img {
      padding-right: 8px;
    }
  }

  &__input {
    position: relative;
    top: -24px;
    color: $gray-100;
    @include text-regular;
  }

  &:focus-within &__placeholder {
    opacity: 0;
  }

  &:not(:focus-within) &__input {
    opacity: 0;
  }
}
