.pause-icon, .play-icon {
  filter: invert(46%) sepia(88%) saturate(6668%) hue-rotate(221deg)
  brightness(102%) contrast(101%);
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 24px;
  justify-content: center;
}