@import "src/assets/styles/colors";

.pause-icon, .play-icon {
  @include svg-color-filter-primary-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 24px;
  justify-content: center;
}