@import "src/assets/styles/colors";
@import "src/assets/styles/text";
@import "src/assets/styles/consts";

.current-header-task-mobile {
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 12px auto;
  align-items: center;
  justify-items: center;

  @media only screen and (min-width: $tablet-px) {
    display: none;
  }

  &__title {
    @include title-h2-medium;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 100%;
  }

  &__time-spent-today {
    @include time-regular;
  }
}