@import "src/assets/styles/text";
@import "src/assets/styles/colors";

.task-bar {
  padding: 16px 24px;
  width: 286px;

  @media only screen and (max-width: 767px) {
    width: auto;
  }

  &__titles {
    @media only screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      column-gap: 16px;
      margin-bottom: 24px;
    }
  }

  &__titles-wrapper {
    @media only screen and (max-width: 767px) {
      display: grid;
      grid-template-columns: auto minmax(50px, 1fr);
      align-items: center;
    }
  }

  &__task-title {
    @include title-h1-medium;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    overflow: hidden;

    @media only screen and (max-width: 767px) {
      margin-bottom: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__chevron-left-mobile {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
    min-width: 24px;
    height: 24px;

    @media only screen and (min-width: 767px) {
      display: none;
    }
  }

  &__folder-title {
    &:before {
      content: "";
      display: block;
      width: 1px;
      height: 12.5px;
      background-color: #787878;
      position: absolute;
      top: 5.75px;
      left: -8px;

      @media only screen and (max-width: 767px) {
        content: "";
        display: block;
        width: 1px;
        height: 12.5px;
        background-color: #787878;
        position: absolute;
        top: 5.75px;
        left: 8px;
      }
    }

    @include title-h2-medium;
    color: $gray-80;
    padding-bottom: 24px;

    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: 16px;
    }
  }

  &__counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
  }

  &__date {
    @include text-regular;
    color: $gray-80;
  }

  &__time {
    @include time-regular;
    color: $gray-100;
  }

  &__today {
    width: 70px;
  }

  &__all {
    width: 70px;
  }

  &__pause-icon {
    filter: invert(46%) sepia(88%) saturate(6668%) hue-rotate(221deg)
      brightness(102%) contrast(101%);
    cursor: pointer;
  }

  &__complete {
    @include title-h2-medium;
    color: $primary-color;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 8px 0;

    .checkbox {
      height: 24px;
      width: 24px;

      &::after {
        height: 24px;
        width: 24px;
      }
    }
  }

  &__archive {
    @include title-h2-medium;
    color: $primary-color;
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin: 8px 0;
    cursor: pointer;
    width: fit-content;
  }

  &__archive-icon {
    filter: invert(46%) sepia(88%) saturate(6668%) hue-rotate(221deg)
      brightness(102%) contrast(101%);
  }

  &__delete {
    @include title-h2-medium;
    color: $error-color;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 8px 0;
    cursor: pointer;
    width: fit-content;
  }

  &__trash-icon {
    filter: invert(14%) sepia(78%) saturate(4068%) hue-rotate(351deg)
      brightness(113%) contrast(98%);
  }
}
