@import "src/assets/styles/colors";
@import "src/assets/styles/text";

.folders-section__overlay {
  position: absolute;

  @media only screen and (max-width: 767px) {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
    z-index: 1;
  }
}

.folders-section {
  height: calc(100vh - 64px);
  width: 268px;
  background-color: $gray-20;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  overflow-y: auto;
  overflow-x: hidden;

  @media only screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 2;
  }

  & .text-input-wrapper img {
    @include svg-color-filter-gray-80;
  }

  &__folder {
    height: 48px;
    width: 204px;
    background-color: $gray-0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    cursor: pointer;

    img {
      @include svg-color-filter-gray-0;
      cursor: pointer;
    }

    &:hover {
      background-color: $primary-color;
    }

    &:hover .folders-section__paragraph {
      color: $gray-0;
      cursor: pointer;
    }

    &:hover img {
      @include svg-color-filter-gray-0;
    }

    &--active {
      background-color: $primary-color;

      .folders-section__paragraph {
        color: $gray-0;

        img {
          @include svg-color-filter-gray-0;
        }
      }
    }

    &--archive {
      justify-content: left;

      img {
        padding-right: 8px;
        @include svg-color-filter-gray-80;
        cursor: default;
      }
    }
  }

  &__paragraph {
    @include title-h2-medium;
    color: $gray-80;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
