@import "src/assets/styles/colors";
@import "src/assets/styles/text";
@import "src/assets/styles/consts";

.sorting-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  @media only screen and (max-width: $tablet-px) {
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
  }
}

.sorting-wrapper {
  position: relative;

  @media only screen and (max-width: $tablet-px) {
    position: inherit;
  }

  .secondary-button__title {
    @media only screen and (max-width: $tablet-px) {
      display: none;
    }
  }
}

.sorting-menu {
  padding: 16px 24px;
  background-color: #FFF;
  position: absolute;
  right: 55px;
  top: 60px;
  width: max-content;
  max-width: 277px;
  box-shadow: 0 -4px 12px 0px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  z-index: 1;

  @media only screen and (max-width: 1439px) {
    right: 0;
  }

  @media only screen and (max-width: $tablet-px) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: auto;
    width: auto;
    max-width: initial;
    box-shadow: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:before {
    clip-path: path('M6.55153 3.35679C8.95198 0.172076 13.7338 0.172081 16.1343 3.3568L21.8953 11H0.790527L6.55153 3.35679Z');
    content: "";
    width: 21.1px;
    height: 14px;
    background-color: #FFF;
    display: block;
    position: absolute;
    top: -9px;
    right: 20px;
    box-shadow: 0 -4px 12px 0px rgba(0, 0, 0, 0.12);

    @media only screen and (max-width: $tablet-px) {
      display: none;
    }
  }

  &__title {
    @include title-h2-medium;
    color: $primary-color;
    margin-bottom: 14px;

    @media only screen and (max-width: $tablet-px) {
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Golos Text VF', sans-serif;
      font-weight: 500;
    }
  }

  &__icon-mobile {
    @include svg-color-filter-primary-color;
    cursor: pointer;

    @media only screen and (min-width: $tablet-px) {
      display: none;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__label {
    @include text-regular;
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
}