@import "src/assets/styles/colors";
@import "src/assets/styles/text";

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #EEEEEE;
  height: 64px;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  &__title {
    color: $primary-color;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
  }

  &__task-time-wrapper {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__task {
    display: flex;
    column-gap: 4px;
    @include title-h2-medium;
  }

  &__pause-icon {
    filter: invert(46%) sepia(88%) saturate(6668%) hue-rotate(221deg) brightness(102%) contrast(101%);
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 24px;
    justify-content: center;
  }

  &__time {
    @include text-regular;
    color: $gray-80;
  }

  &__time-title {
    @include time-regular;
    color: $gray-80;
  }
}