@import "src/assets/styles/colors";
@import "src/assets/styles/text";

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #eeeeee;
  height: 64px;
  align-items: center;
  column-gap: 10px;

  &__task-time-wrapper {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
