@import "src/assets/styles/colors";
@import "src/assets/styles/text";

.secondary-button {
  text-align: center;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: $gray-0;
  color: $primary-color;
  @include title-h2-medium;

  &__title {
    padding-left: 8px;
  }

  img {
    @include svg-color-filter-primary-color;
  }

  &:hover {
    background-color: #e2ecff;
  }

  &:focus {
    background-color: rgba(30, 79, 208, 1);
    color: $gray-0;

    img {
      @include svg-color-filter-gray-0;
    }
  }

  &:disabled {
    background-color: $gray-0;
    color: $gray-80;

    img {
      @include svg-color-filter-gray-80;
    }
  }
}
